<nav class="navbar navbar-expand navbar-light bg-light">

  <div class="brand-container">
    <ul class="navbar-list d-flex align-items-center mb-0">
      <li class="navbar-item">
        <a class="navbar-brand" href="#" [routerLink]="['/' + AppRoutes.HOME]">
          <img src="assets/images/DR-logo.png" class="navbar-logo" alt="">
        </a>
      </li>
      <li class="navbar-item">
        <p class="mb-0 navbar-brand-name">Dr Automobile</p>
      </li>
    </ul>
  </div>



  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home', AppRoutes.SEARCH]">Cerca</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home', AppRoutes.SUPPLIERS]">Fornitori</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home', AppRoutes.TRANSCODE]">Transcodifiche</a>
          </li>
      </ul>
  </div>
  <div *ngIf="userProfile" class="d-flex justify-content-center navbar-text ml-auto user-profile">
    <ul class="d-flex">
      <li>{{ userProfile.name }}</li>
      <li>{{ userProfile.surname }}</li>
    </ul>
    <img [src]="userProfile.avatarUrl" width="30" height="30" class="d-inline-block align-top" alt="">
 </div>
</nav>



