<nav class="navbar navbar-expand border-box bg-white pt-3 pb-4">
  <!-- LEFT SIDE -->
  <div class="navbar-nav pl-4 mr-auto">
    <button class="btn btn-upload mr-2" (click)="onUpload()">Carica</button>
    <button class="btn btn-download" (click)="onDownload()">Scarica</button>
  </div>

  <!-- RIGHT SIDE -->
  <div class="navbar-nav pr-4 ml-auto">
    <button class="btn btn-delete mr-2" (click)="onDelete()">Cancella</button>
    <button class="btn btn-save" (click)="onSave()">Salva</button>
  </div>
</nav>


